<%- include('../partials/head') %>
<body>  
  
  <%- include('../partials/top-nav-parents') %>
  
  <div class="main-container">
    <%- include('../partials/side-nav-parents') %>

    <main class="content">
        <h1>Welcome to Getset Kiddies</h1>
        <p>This is your dashboard.</p>
    </main>
  </div>
  <%- include('../partials/footer') %>
</body>

